


{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <!--div class="container"-->
        <div class="homepage owl-carousel"
            data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
            data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
            data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}"
            >
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item" >
                {{ if .href }}
                <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                {{ end }}
                    <div class="row" style="margin-right: 0px; margin-left: 0px;">
                        <div style="height:80vh; width:100%; position: relative; 
                        background-image: url('{{ .image }}');  background-size: cover;
                        background-position: center center;">
                            <!--background-image: url('{{ .image }}');-->
                            <!--img style="object-fit:cover;object-position: center;min-width: none;position: relative;" src="{{ .image }}" alt="" -->
                            <!--div class="col-sm-5 right"-->
                            <div style=" position: absolute; left: 0; right: 0; margin-left: auto; 
                            margin-right: auto; text-align: center ;z-index: 1;top:10%;">
                            <h1>{{ .title | safeHTML }}</h1>
                            {{ .description | safeHTML }} 
                            </div>
                        </div>
                    </div>
                {{ if .href }}
                </a>
                {{ end }}
            </div>
            <!--/div-->

            {{ end }}
        </div->
        <!-- /.project owl-slider -->
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}